* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;
}

li {
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0;
}

.head {
  display: flex;

}

.full-w {  
  width: 100%;
  background: rgb(196, 196, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 8vh;

}
.full-w h2{  
  color: rgba(54, 54, 54, 0.247);  
}

.full-w p{  
  color: rgba(26, 25, 25, 0.658);
}

#title {
  padding-left: 3rem;
  align-self: center;
}

img, svg {
  max-height: 2rem;
  margin-right: 1rem;
}

.container {
  width: 100%;
}

.counter{
  align-items: center;
  padding-left:  2rem;
  width: 100%;
  
}

.content-container {
  width: 100%;
  padding: 0 20%;
}

.counter, .content-container {
  display: flex;

  height: 80px;
  background: #f5f5f5;
}

.hidden{
  display: none;
}

button#play{
  border: 4px solid rgba(7, 148, 7, 0.3);

}
button#stop{
  border: 4px solid rgba(231, 46, 0, 0.3);

}
button{
  width: 10vw;
  border-radius: 4px;
  cursor: pointer;
  
}

input {
  width: 70vw;
  border-radius: 8px;
  padding-left: 8px;
  font-size: 1.2rem;

}

button, input {
  align-self: center;
  height: 2.8rem;
}


/* LISTAGEM DE TAREFAS */
#content {
  display: flex;
  flex-direction: column;
  
  width: 600px;
}

#task-list {
  padding: 2rem 20px;

  
  max-height: 70vh;
  overflow-y: auto;
  
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 5rem;

  margin-bottom: 1.25rem;
  
  width: 100%;
  background: rgba(128, 128, 128, 0.185);
  box-shadow: 0px 1px 10px 3px rgba(52, 54, 59, 0.18);

  border-radius: 10px;
}
.task-item h2 {
  font-size: 1.2rem;
  color: #535151;
}

.task-item p {
  font-size: 1.5rem;

}